<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add 
      name="CadenaInstitutoX" 
      connectionString="Server=.\SQLDEVELOPERCQ;DataBase=Instituto X;User=sa;password=123456"
      providerName="System.Data.SqlClient"
    />
  </connectionStrings>
</configuration>